@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');


.tab{
    border: 2px solid blue;
    transition: 1s ease-in-out;
}
.tab:focus{
    border: none;
    border-bottom:2px solid blue;
    
}
.imgD{
    transition: 2s ease-in-out;
    background-color: rgba(0,0,0,0.5);
}
.imgH:hover .imgD{
    top: 0;
}