@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');


.tab{
    outline: 2px solid rgba(255, 165, 0)
}
.tab:focus{
    border-top:2px white;
    border-left: 2px white;
    border-right: 2px white;;
    border-bottom:2px solid rgba(255, 165, 0)
    
}
.imgD{
    transition: .5s ease-in-out;
    background-color: rgba(0,0,0,0.5);
}
.imgH:hover .imgD{
    top: 0;
}
#nav {
    transition: opacity 0.6s ease, top 0.5s linear ease-in-out; /* Combine transition properties */
  }
  
  .hiddenNav {
   display: none;

  }
  
  .navCss {
    /* opacity: 1; 
    background-color: blue;
    opacity: 10;
    z-index: 80;
    top: 0;
    transition: opacity 0.6s ease, top 0.5s linear ease-in-out;  */
  }
  .navText:focus{
    color: crimson;
    
  }
  .navBtn{
    padding: 16px ;
  }
  .orangeSimple{
    color: #FFA500;
  }

  
  .orangeGlossy{
    color:rgba(255, 165, 0);
  }
.orangeGlossyBg{
    background: rgba(255,160,0);
}

  .darkGreyBg{
    background-color: #333333;
  }
  .darkGreyText{
    color:#333333
  }


  .softGreyBg{
    background-color: #F5F5F5;
  }
  .softGreyText{
    color: #F5F5F5;

  }
  
  .imgHover{
      overflow: hidden;
      position: relative;
    
  }
  .imgHover img{
    transition: transform 1s ease-in-out;
  }
  .imgHover:hover img {
    transform: scale(1.5);
  }
  .star {
    position: relative;
    
    display: inline-block;
    width: 0;
    height: 0;
    
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid #FC0;
    border-left:   .3em solid transparent;
    font-size: 55px ;
  
    /* Controlls the size of the stars. */
    
    &:before, &:after {
      content: '';
      
      display: block;
      width: 0;
      height: 0;
      
      position: absolute;
      top: .6em;
      left: -1em;
    
      border-right:  1em solid transparent;
      border-bottom: .7em  solid #FC0;
      border-left:   1em solid transparent;
    
      transform: rotate(-35deg);
    }
    
    &:after {  
      transform: rotate(35deg);
    }
  }

  .sellP{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .sliderM{
    height:20vh;
    width:100%;
  }

  .sliderL{
    height: 300px;
    width: 100%;
  }

