@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');


.tab{
    outline: 2px solid blue;
}
.tab:focus{
    border-top:2px white;
    border-left: 2px white;
    border-right: 2px white;;
    border-bottom:2px solid blue;
    
}
.imgD{
    transition: .5s ease-in-out;
    background-color: rgba(0,0,0,0.5);
}
.imgH:hover .imgD{
    top: 0;
}
#nav {
    transition: opacity 0.6s ease, top 0.5s linear ease-in-out; /* Combine transition properties */
  }
  
  .hiddenNav {
   display: none;

  }
  
  .navCss {
    /* opacity: 1; 
    background-color: blue;
    opacity: 10;
    z-index: 80;
    top: 0;
    transition: opacity 0.6s ease, top 0.5s linear ease-in-out;  */
  }
  
  